.hidescrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hidescrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .customscrollbar::-webkit-scrollbar {
    width: 3px !important;
  }
  
  .customscrollbar::-webkit-scrollbar-track {
    background-color: darkgrey !important;
  }
  
  .customscrollbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #f43f5e !important;
  }
  
  .customscrollbar {
    scrollbar-width: thin !important;
    scrollbar-color: #f43f5e #e0e0e0 !important;
  }

  .customDivider {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
  
  .customDivider > span {
    height: 1px;
    width: 80%;
    background-color: #dee2e6;
    position: relative;
  }
  
  .customDivider > span::before,
  .customDivider > span::after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    background-color: #d6d6d6;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .customDivider > span::before {
    left: 0;
  }
  
  .customDivider > span::after {
    right: 0;
  }

  .getCentred{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }